* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: beige;
}

.menu-container {
  position: relative;
  width: 100%;
}

.menu-button {
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  z-index: 1;
}

.menu li a {
  background-color: #f1f1f1;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.menu li a:hover {
  background-color: #ddd;
}
